h1 t('title.automated')
p t('body.successful_rent'):
p t('body.title'): #{@book.title}
p t('body.author'): #{@book.author}
p t('body.genre'): #{@book.genre}
p t('body.publisher'): #{@book.publisher}
p t('body.year'): #{@book.year}
p t('body.image'): #{@book.image}
p t('body.dates', date: @date, initial_date: @rent.initial_date,
     final_date: @rent.final_date)
p
p t('body.shilling').
p Thanks for joining and have a great day!
